

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  width: 100% !important;
  overflow-x: hidden;
  background-color: #333333;
}

.container{
  font-size: 14px;
  min-height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  background: white url("../assets/Union.jpg");
}
.ant-list{
  max-width: 500px;
  width: 100%;
}

header{
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: gray 1px solid;
  padding: 10px;
}

h3{
  font-size: 16px;
}
p{
  font-size: 12px;
}
a {
  color: inherit;
  text-decoration: none;
}

.carousel button{
  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
}
.carousel li{
  width: 6px !important;
}
.bannerImg{
  width: 100%;
  padding: 5px;
  height: auto;
  color: #fff;
  text-align: center;
}
.search{
  width: 30px;
  height: 30px;
}
.search_input{
  position: absolute;
  top: 10px;
  z-index:2;
  background: white url("../assets/searchIcon.svg") no-repeat 97% 50%;
  transition: width 0.5s;
}
.search_input.active{
  background-color: white;
  border:1px solid black;
  max-width:480px;
  width: 94%;
  z-index: 10;
  color: black;
  padding-left: 10px;
}







.calendar {
  font-family: Arial, sans-serif;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.calendar-header h2 {
  margin: 0;
}
h2{
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}
.calendar-img{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  padding-right: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor:pointer;
}

.calendar-day.empty {
  background-color: transparent;
  color: gray;
}

.calendar-day.weekend {
  color: red;
}

.calendar-day.current-day {
  background-color: #4CAF50;
  color: #fff;
  border-radius: 50%;
}

/*gender*/
.gender__modal .ant-modal-content{
  background: #F5F5F5;
  padding: 20px;
}
