.filter{
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  height: 100%;
  z-index: 1000;
  left: -100%;
  transition: left 0.5s;
  text-align: center;
  overflow: auto;
}
.filter hr{
  border-top: 1px solid #E0E0E0;
}
.filter.active{
  left: 0;
}
.filter__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.filter__type{
  padding: 15px 0;
  text-align: left;
}
.filter__name{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.filter__type hr{
  width: 95%;
  margin: auto;
}
.filter__section{
  display: inline-block;
  white-space: nowrap;
  padding: 10px 0 10px 5px;
}
.filter__scroll{
  overflow-x: scroll;
}
.filter__scroll::-webkit-scrollbar{
  display: none;
}

.checkboxLabel{
  display: inline-block;
}

.checkboxLabel input[type='checkbox'] {
  display: none;
}
.checkboxLabel input[type='radio'] {
  display: none;
}

.checkboxLabel span {
  display: inline-block;
  padding: 8px 10px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  margin:0 10px;
}

.checkboxLabel input:checked{
  background-color: #007bff;
  font-size:55px;
}
.filter__checkbox:checked + span{
  background-color: #4CAF50;
  color: white;
}

.filter__btn{
  bottom: 20px;
  color: white;
  border: none;
  border-radius: 16px;
  margin: 10px 0;
  max-width: 450px;
  width: 90%;
  padding: 15px;
  background-color: #4CAF50;
}

.clear__btn{
  background: transparent;
  border: none;
  cursor: pointer;
}
.filter__section.filter__gender{
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.filter__gender .checkboxLabel{
  width: 48%;
}
.filter__gender span{
  width: 100%;
  text-align: center;
  margin: 0;
}
