.calendar {
    font-family: Arial, sans-serif;
    width: 300px;
    border-radius: 10px;
    background-color: white;
}

.calendar_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar_header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.calendar_header h2 {
    margin: 0;
}
.calendar_img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    padding-right: 10px;
}

.calendar_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar_day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor:pointer;
}

.calendar_day.empty {
    background-color: transparent;
    color: gray;
}

.calendar_day.weekend {
    color: red;
}

.calendar_day.current_day {
    background-color: #4CAF50;
    color: #fff;
    border-radius: 50%;
}
