.mosque{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}
.mosque__img{
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: 20%;
    height: auto;
}
.mosque__img img{
    max-width: 80px;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}
.mosque__link{
    display: flex;
    align-items: center;
}
.mosque__link p{
    padding:0 8px 3px 0;
}
.mosque__info{
    max-width: 400px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
}
.mosque__title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.mosque__title a{
    color: #9E9E9E;
}
.mosque__schedule{
    height: 30px;
}
