.gender{
    text-align: center;
}
.gender__input{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 2px 3px;
    background: white;
    margin: 5px;
}
.gender__input img{
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    height: auto;
}
.gender__input p{
    padding: 5px;
}
.gender__container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.genderLabel{
    display: inline-block;
}
.genderLabel input:checked + div{
    background: #4CAF50;
    color: white;
}
.genderLabel input[type='checkbox'] {
    display: none;
}
.genderLabel input[type='radio'] {
    display: none;
}
